body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-field:hover {
  outline: none;
  border: none;
}

.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.single-product {
	transition: 0.6s;
	padding: 20px;
	margin: 3% 3%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 3px #DDD;
	text-align: left;
}
.single-product:hover {
	border-radius: 10px;
	box-shadow: 0 14px 26px rgba(11, 11, 11, 0.05);
}
.product {
	height: 100%;
}
.product-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.cart {
	width: 350px;
	padding: 15px;
	box-shadow: 4px 2px 15px #DDD;
	border-radius: 5px;
	margin-right: 30px;
	position: fixed;
	background: #FFF;
	z-index: 9999;
}
.cart-main {
  padding-right: 30px;
}

#my-cart h1 {
	font-family: 'MedievalSharp', cursive;
	margin: 3px 0px;
	font-size: 29px;
	color: #000;
}
/* Ttile Css  */
.title {
	text-align: center;
	max-width: 611px;
	margin: auto;
}
.title h1 {
	font-family: 'MedievalSharp', cursive;
	font-size: 55px;
	text-shadow: 0 0 3px #7F7BF3;
}
.title p {
	max-width: 502px;
	margin: auto;
	font-size: 16px;
	color: #000;
	font-weight: 500;
}

/* Button Css style  */
.search-box {
	border: 1px solid #7F7BF3;
	max-width: 550px;
	border-radius: 4px;
	margin: 29px auto;
	border-right: none;
	position: relative;
}
.search-field {
	border: none;
	padding: 10px 15px;
	outline: none;
	width: 100%;
	border-radius: 7px;
}
#search-btn {
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	background: #7F7BF3;
	color: #FFF;
	padding: 5px 28px;
	transition: 0.5s;
	border-color: #7F7BF3;
}
#search-btn:hover{
  opacity: 0.8;
}
::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}
::placeholder {
  color: #000000;
  opacity: 1;
}
.single-product h3 {
	color: #000;
	font-size: 18px;
	line-height: 1.5;
	padding-bottom: 5px;
}
.single-product-image {
	width: 150px;
	height: 150px;
	margin: auto;
}
.single-product p {
	text-transform: capitalize;
}
.single-product-image img {
  transition: all .4s ease-in-out;
}
.single-product-image img:hover{
  transition: all .4s ease-in-out;
  transform: scale(1.1);
}
.buy-now, .parces button {
	color: #fff;
	background-color: #7F7BF3;
	border-color: #7F7BF3 !important;
	padding: 8px 10px !important;
	width: 110px;
	font-size: 14px !important;
	text-transform: capitalize;
  transition: 0.5s;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #FFF !important;
	text-decoration: none;
}
.single-product h2 {
	font-size: 19px;
	font-weight: 500;
}
.btn-danger {
	color: #fff;
	background-color: #353535 !important;
	border-color: #353535 !important;
	padding: 8px 10px !important;
	width: 110px;
	font-size: 14px !important;
	text-transform: capitalize;
  transition: 0.5s;
}
.buy-now:hover{
  background-color: #353535 !important;
	border-color: #353535 !important;
}
.btn-danger:hover{
  background-color: #7F7BF3 !important;
	border-color: #7F7BF3 !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none !important;
  outline-offset: 0px !important;
}

.copyright_footer {
	background: #312F4E;
	border-top: 1px solid #DDD;
  padding: 35px 0px;
}

.footer_text {
	text-align: center;
}
.footer_text p {
	color: #fff;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
