body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-field:hover {
  outline: none;
  border: none;
}

.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* Ttile Css  */
.title {
	text-align: center;
	max-width: 611px;
	margin: auto;
}
.title h1 {
	font-family: 'MedievalSharp', cursive;
	font-size: 55px;
	text-shadow: 0 0 7px #DDD;
}
.title p {
	max-width: 502px;
	margin: auto;
	font-size: 16px;
	color: #000;
	font-weight: 500;
}

/* Button Css style  */
.search-box {
	border: 1px solid #802C6E;
	max-width: 550px;
	border-radius: 4px;
	margin: 29px auto;
	border-right: none;
	position: relative;
}
.search-field {
	border: none;
	padding: 10px 15px;
	outline: none;
	width: 100%;
	border-radius: 7px;
}
#search-btn {
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	background: #802C6E;
	color: #FFF;
	padding: 5px 28px;
	transition: 0.5s;
}
#search-btn:hover{
  opacity: 0.8;
}
::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}


::placeholder {
  color: #000000;
  opacity: 1;
}



@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
